/* Small SCSS is for mobile and tablet screens */
@import 'partials/variables';
@import 'partials/stars';

html {
    background-color: darken($color-1, 2%); //seems too light normal but dark this way ??
}

h1,
h2 {
    font-family: $secondary-font;
    color: $color-5;
    font-size: x-large;
}

h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
    color: $color-4;
    text-align: center;
    font-size: 150%;
    margin: 1.5em;
}


p {
    font-family: $primary-font;
    color: $color-5;
    display: block;
    margin: 1em 2.5em 0 2.5em;
  
    a {
        text-decoration: underline;
    }
}

.summary p:first-child {
    margin-top: 35%;
}

.preamble p:first-of-type {
    margin-top: 3.5em;
}

.explaination p:first-of-type {
    margin-top: 1em;
}

[role="banner"] {
    margin: 0 auto;
    text-align: center;
    height: 200px;
    width: 400px;
    border-radius: 0 0 400px 400px;
    background-color: $planet3;
}

/* "circles" each div with the role of "article" 
Also "circles" each section in the sidebar, we need to decide if we want that as planets or something different. I think we decided to have them as planets though.*/
[role="article"],
.design-selection,
.design-archives, 
.zen-resources {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    padding: 1em 1em;
    margin: 7em 25%;
    background-color: $planet4;
    overflow: auto; //hides overflowed text
    scroll-padding: 20px 0;
}

/* doesn't seem to change much :/ 
[role="article"]::after,
.design-selection::after,
.design-archives::after, 
.zen-resources::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

[role="article"] p {
    //position: absolute; //stacks p on top of each other
    bottom: 50%;
    width: 100%;
    text-align: center;
}*/

/* trying to shape text inside of planets */
/*[role="article"]::before,
.design-selection::before,
.design-archives::before, 
.zen-resources::before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid #ddd;
    border-left: 50px solid transparent;
    border-right: 50px solid #ddd;
    position: absolute;
    top: 0;
    left: -99px;
}

[role="article"]::after,
.design-selection::after,
.design-archives::after, 
.zen-resources::after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid #ddd;
    border-left: 50px solid #ddd;
    border-right: 50px solid transparent;
    position: absolute;
    top: 0;
    right: -99px;
}*/

/* Hide scrollbar for Chrome, Safari and Opera */
[role="article"]::-webkit-scrollbar, .design-selection::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
[role="article"], .design-selection {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* ----------Large SCSS is for screens larger than tablets---------- */
@media screen and (min-width: 900px) {
    h1,
    h2 {
        font-size: xx-large;
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: x-large;
        margin-top: .15em;
    }

    p {
        font-size: larger;
    }

    [role="article"],
    .design-selection,
    .design-archives, 
    .zen-resources {
        width: 450px;
        height: 450px; 
        padding: 5em 5em;
        margin: 5em 20%;
        background-color: $planet1;
    }

    [role="banner"] {
        height: 300px;
        width: 600px;
        border-radius: 0 0 600px 600px;
    }
}

@import 'partials/animations';