/* Small SCSS is for mobile and tablet screens */
@import 'partials/variables';
@import 'partials/stars';
@import 'partials/animations';

html {
    background-color: darken($color-1, 2%); //seems too light normal but dark this way ??
}


header {
    h1 {
        font-family: $secondary-font;
        color: $color-5;
        font-size: 40px;
    }
    h2 {
        font-family: $secondary-font;
        color: $color-5;
        font-size: 25px;
        margin-top: -20px;
    }
}

h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
    text-align: center;
    font-size: 150%;
    margin: 1.5em;
}


p {
    font-family: $primary-font;
    color: $color-5;
    display: block;
    margin: 1em 2.5em 0 2.5em;
  
    a {
        text-decoration: underline;
    }
}

.summary p:first-child {
    margin-top: 30%;
}

.preamble p:first-of-type {
    margin-top: 2.5em;
}

.explaination p:first-of-type {
    margin-top: 1em;
}

[role="banner"] {
    margin: 0 auto;
    text-align: center;
    height: 200px;
    width: 400px;
    border-radius: 0 0 400px 400px;
    background-color: $planet3;
}

/* "circles" each div with the role of "article" 
Also "circles" each section in the sidebar, we need to decide if we want that as planets or something different. I think we decided to have them as planets though.*/
[role="article"],
.design-selection,
.design-archives, 
.zen-resources {
    border-radius: 50%;
    width: 375px;
    height: 375px;
    margin: 100px auto;
    overflow: auto; //hides overflowed text
    scroll-padding: 20px 0;
}

.summary {
    background-image: url(svg/planet-1.svg);
    p {
        font-size: 20px;
        a{
            text-decoration: none;
            color: white;
        }
    }
}

.preamble {
    background-image: url(svg/planet-3.svg);
    padding: 20px;
    h3 {
        color: $color-1;
        margin-top: 95px;
    }
}

.explanation {
    background-image: url(svg/planet-5.svg);
}

.participation {
    background-image: url(svg/planet-6.svg);
    a {
        text-decoration: none;
        color: white;
    }
}

.benefits {
    background-image: url(svg/planet-7.svg);
}

.requirements {
    background-image: url(svg/planet-4.svg);
    a {
        text-decoration: none;
        color: white;
    }
}

.design-selection {
    background-image: url(svg/planet-1.svg);
    li {
        font-family: $secondary-font;
        list-style: none;
        a {
            text-decoration: none;
            color: white;
            font-family: $primary-font;
        }
    }
}

.design-archives {
    background-image: url(svg/planet-3.svg);
    li {
        list-style: none;
        a {
            text-decoration: none;
            color: white;
            font-family: $primary-font;
        }
    }

}

.zen-resources {
    background-image: url(svg/planet-4.svg);
    li {
        font-family: $secondary-font;
        list-style: none;
        a {
            text-decoration: none;
            color: white;
            font-family: $primary-font;
        }
    }
}

footer {
    text-align: center;
    background-color: $planet1;
    padding: 15px;
    a {
        text-decoration: none;
        color: white;
        margin: 20px;
        font-family: $primary-font;
        font-size: 25px;
    }
}

/* doesn't seem to change much :/ 
[role="article"]::after,
.design-selection::after,
.design-archives::after, 
.zen-resources::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

[role="article"] p {
    //position: absolute; //stacks p on top of each other
    bottom: 50%;
    width: 100%;
    text-align: center;
}*/

/* trying to shape text inside of planets */
/*[role="article"]::before,
.design-selection::before,
.design-archives::before, 
.zen-resources::before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid #ddd;
    border-left: 50px solid transparent;
    border-right: 50px solid #ddd;
    position: absolute;
    top: 0;
    left: -99px;
}

[role="article"]::after,
.design-selection::after,
.design-archives::after, 
.zen-resources::after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid #ddd;
    border-left: 50px solid #ddd;
    border-right: 50px solid transparent;
    position: absolute;
    top: 0;
    right: -99px;
}*/

/* Hide scrollbar for Chrome, Safari and Opera */
[role="article"]::-webkit-scrollbar, .design-selection::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
[role="article"], .design-selection {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* ----------Large SCSS is for screens larger than tablets---------- */
@media screen and (min-width: 900px) {
    header {
        h1 {
            font-size: 45px;
        }
        h2 {
            font-size: 30px;
            margin-top: -20px;
        }
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: x-large;
        margin-top: .15em;
    }

    p {
        font-size: larger;
    }

    [role="article"],
    .design-selection,
    .design-archives, 
    .zen-resources {
        width: 450px;
        height: 450px; 
        padding: 5em 5em;
    
        
    }

    [role="banner"] {
        height: 300px;
        width: 600px;
        border-radius: 0 0 600px 600px;
    }

    .summary {
        width: 300px;
        height: 300px;
        margin-left: 10%;
        margin-top: 100px;
        p{
            margin: 5px 10px;
        }
    }

    .preamble {
        width: 500px;
        height: 500px;
        margin: -80px 10% 0 auto;
        h3 {
            margin-top: 20px;
        }
    }

    .explanation {
        width: 550px;
        height: 550px;
        margin: 50px auto 0 5%;
    }

    .participation {
        width: 600px;
        height: 600px;
        margin: 50px 5% 0 auto;
    }

    .benefits {
        width: 350px;
        height: 350px;
        margin: 20px auto 0 10%;
    }

    .requirements {
        width: 700px;
        height: 700px;
        margin: 20px auto 100px;
        h3 {
            margin-top: 50px;
        }
    }

    .design-selection {
        width: 250px;
        height: 250px;
        margin: 50px auto;

        h3 {
            margin-top: -30px;
        }


    }

    .design-archives {
        width: 200px;
        height: 200px;
        margin: 50px auto;
        h3 {
            margin-top: -30px;
        }

    }

    .zen-resources {
        width: 200px;
        height: 200px;
        margin: 50px auto;
        h3 {
            margin-top: -30px;
        }
    }

}