/* Small SCSS is for mobile and tablet screens */
@import 'partials/variables';
@import 'partials/stars';
@import 'partials/animations';

html {
    background-color: darken($color-1, 2%); //seems too light normal but dark this way ??
}


header {
    h1 {
        font-family: $secondary-font;
        color: $color-5;
        font-size: 40px;
    }
    h2 {
        font-family: $secondary-font;
        color: $color-5;
        font-size: 25px;
        margin-top: -20px;
    }
}

h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
    text-align: center;
    font-size: 150%;
    margin: 0 1.5em .5em 1.5em;
}

a {
    font-family: $primary-font;
    text-decoration: none;
    font-size: large;
    color: white;
    &:hover {
        text-decoration: underline;
    }
}

p {
    font-family: $primary-font;
    color: $color-5;
    display: block;
    margin: 5px 0;
}

.summary p:first-child {
    margin-top: 25%;
}

[role="banner"] {
    margin: 0 auto;
    text-align: center;
    height: 200px;
    width: 400px;
    border-radius: 0 0 400px 400px;
    background-color: $planet3;
}

/* "circles" each div with the role of "article" 
Also "circles" each section in the sidebar, we need to decide if we want that as planets or something different. I think we decided to have them as planets though.*/
[role="article"] {
    border-radius: 50%;
    width: 335px;
    height: 335px;
    margin: 100px auto;
    overflow: auto; //hides overflowed text
    padding: 70px;
    h3 {
        margin-top: -25px;
    }
}

.design-selection,
.design-archives, 
.zen-resources,
footer {
    border-radius: 50%;
    width: 255px;
    height: 255px;
    margin: 100px auto;
    overflow: auto; //hides overflowed text
    padding: 70px;
    h3 {
        margin-top: -25px;
        margin-bottom: 0;
    }
    ul {
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.summary {
    background-image: url(svg/planet-1.svg);
    padding-top: -10px;
    border-radius: 50%;
    width: 255px;
    height: 255px;
    margin: 100px auto;
    overflow: auto; //hides overflowed text
    padding: 70px;
    h3 {
        margin-top: -35px;
        margin-bottom: 0;
    }
    ul {
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.preamble {
    background-image: url(svg/planet-3.svg);
}

.explanation {
    background-image: url(svg/planet-5.svg);
}

// Problem child!!!!!!!!
.participation {
    background-image: url(svg/planet-6.svg);
}

.benefits {
    background-image: url(svg/planet-7.svg);
    border-radius: 50%;
    width: 255px;
    height: 255px;
    margin: 100px auto;
    overflow: auto; //hides overflowed text
    padding: 70px;
    h3 {
        margin-top: -35px;
        margin-bottom: 0;
    }
    ul {
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

// Problem child!!!!!!!!
.requirements {
    background-image: url(svg/planet-5.svg);
}

.design-selection {
    background-image: url(svg/planet-1.svg);
    li {
        font-family: $secondary-font;
        list-style: none;
    }
}

.design-archives {
    background-image: url(svg/planet-3.svg);
    li {
        list-style: none;
    }
}

.zen-resources {
    background-image: url(svg/planet-7.svg);
    li {
        font-family: $secondary-font;
        list-style: none;
    }
}

footer {
    text-align: center;
    background-image: url(svg/planet-4.svg);
    a {
        margin: 75px;
        font-size: 20px;
    }
}

#css-zen-garden {
    margin-top: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
[role="article"]::-webkit-scrollbar, .design-selection::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
[role="article"], .design-selection {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* ----------Large SCSS is for screens larger than tablets---------- */
@media screen and (min-width: 900px) {
    header {
        h1 {
            font-size: 45px;
        }
        h2 {
            font-size: 30px;
            margin-top: -20px;
        }
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: 175%;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    p {
        font-size: larger;
        padding: 15px 0 0 10px;
    }

    [role="article"],
    .design-selection,
    .design-archives, 
    .zen-resources {
        width: 450px;
        height: 450px; 
        padding: 5em 5em;
    
        
    }

    [role="banner"] {
        height: 300px;
        width: 600px;
        border-radius: 0 0 600px 600px;
    }

    .summary {
        width: 300px;
        height: 300px;
        margin-left: 10%;
        margin-top: 100px;
        p:first-child {
            margin-top: 10%;
        }
        p {
            margin: 5px 10px;
        }
    }

    .preamble {
        width: 500px;
        height: 500px;
        margin: -80px 10% 0 auto;
        h3 {
            margin-top: 20px;
        }
    }

    .explanation {
        width: 550px;
        height: 550px;
        margin: 50px auto 50px 5%;
    }

    .participation {
        width: 600px;
        height: 600px;
        margin: 50px 5% 50px auto;
    }

    .benefits {
        width: 355px;
        height: 355px;
        margin: 50px auto 50px 10%;
    }

    .requirements {
        width: 725px;
        height: 725px;
        margin: 50px 100px 0 auto;
        padding: 130px;
    }

    footer {
        width: 250px;
        height: 250px;
        margin: 0 auto 50px 200px;
        a {
            font-size: 25px;
        }
    }

    .design-selection {
        width: 305px;
        height: 305px;
        margin: 50px auto;
        li {
            padding: 2.5px 0;
        }
    }

    .design-archives {
        width: 200px;
        height: 200px;
        margin: 50px 100px 50px auto;
        ul {
            padding-left: 16px;
        }
        li {
            padding: 2.5px 0;
        }
    }

    .zen-resources {
        width: 250px;
        height: 250px;
        margin: 50px auto;
        ul {
            padding-left: 16px;
        }
        li {
            padding: 2.5px 0;
        }
    }
}